
#btnTarefas{
    min-width: 140px;
    margin-bottom: 3px;
}
.msg-erro{
    color: red; font-size:12px;
}

#cardsTarefas{
    max-height: 90%;
    min-height: 90%;
    max-width:  100%;
    min-width:  100%;
}


